#app-mount .username__0a06e,
#app-mount .username-h_Y3Us,
#app-mount .headerText-2Jk5XU,
#app-mount .headerTagUsernameNoNickname-1r7z0J,
#app-mount .nickname-1wVd9D {
    background: transparent !important;
    box-shadow: none !important;
}

#app-mount .clickableUsername-1gZbQw:hover,
#app-mount .username__0a06e:hover {
    background: transparent !important;
}

#app-mount .contents_c19a55,
#app-mount .message__5126c,
#app-mount .message__5126c:hover .contents_c19a55 {
    background: transparent !important;
}

#app-mount .userPopout-3XzG_A,
#app-mount .userProfileOuterThemed-2GjYh3,
#app-mount .userProfileInnerThemedNonPremium-1gT-zY,
#app-mount .userPopoutInner-1aPO3r {
    background: rgba(0,0,0,0.35) !important;
    backdrop-filter: blur(10px);
}

#app-mount .bannerSVGWrapper-2CLfzN,
#app-mount .profileBannerPremium-1l3VHI {
    background: transparent !important;
}

#app-mount code {
    background: rgba(0,0,0,0.25) !important;
}
